___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [109]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if (a > b): return b
        else: return a
    else:
        if (a > b): return a
        else: return b

In [114]:
# Solutin

def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [115]:
# Check
lesser_of_two_evens(2,4)

2

In [116]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [14]:
def animal_crackers(text):
    word_list = text.split()
    first_letter = ''
    for index, word in enumerate(word_list):
        if index == 0: first_letter = word[0]
        else:
            if word[0] == first_letter: return True;
            else: return False

In [117]:
# Solution

def animal_crackers(text):
    word_list = text.lower().split()
    
    return word_list[0][0] == word_list[1][0]

In [118]:
# Check
animal_crackers('Levelheaded Llama')

True

In [119]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [17]:
def makes_twenty(n1,n2):
    sum = n1 + n2
    if sum > 20 or n1 > 20 or n2 > 20:
        return True
    else:
        return False

In [18]:
# Check
makes_twenty(20,10)

True

In [19]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [5]:
def old_macdonald(name):
    new_name = ''
    for index, char in enumerate(name):
        if index == 0:
            new_name += char.upper()
        elif index == 3:
            new_name += char.upper()
        else:
            new_name += char
    return new_name

In [122]:
# Solution

def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [123]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [13]:
def master_yoda(text):
    text_list = text.split()
    text_list = text_list[::-1]
    return " ".join(text_list)

In [14]:
# Check
master_yoda('I am home')

'home am I'

In [15]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [31]:
def almost_there(n):
    within_100 = abs(100-n) < 10 or abs(100+n) < 10
    within_200 = abs(200-n) < 10 or abs(200+n) < 10
    if within_100 or within_200: return True
    else: return False

In [124]:
# Solution

def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [125]:
# Check
almost_there(104)

True

In [126]:
# Check
almost_there(150)

False

In [127]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [38]:
def has_33(nums):
    for index, num in enumerate(nums):
        if index == 0:
            continue
        elif num == 3 and nums[index-1] == 3: 
            return True
    else: 
        return False

In [129]:
# Solution

def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    else: 
        return False

In [130]:
# Check
has_33([1, 3, 3])

True

In [131]:
# Check
has_33([1, 3, 1, 3])

False

In [132]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [133]:
def paper_doll(text):
    new_string = ''
    for char in text:
#         new_string += (char + char + char)
        new_string += char*3
    
    return new_string

In [134]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [135]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [56]:
def blackjack(a,b,c):
    total = a + b + c
    containsEleven = 11 in [a,b,c]
    
    if total <= 21:
        return total
    elif total > 21 and containsEleven and total - 10 < 21:
        return total - 10
    elif (total > 21 and containsEleven and total - 10 > 21) or (total > 21 and containsEleven == False):
        return "BUST"

In [57]:
# Check
blackjack(5,6,7)

18

In [58]:
# Check
blackjack(9,9,9)

'BUST'

In [59]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [64]:
def summer_69(arr):
    total = 0
    for num in arr:
        if (num in [6,7,8,9]):
            continue
        else:
            total += num
    
    return total

In [136]:
# Solution

def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [137]:
# Check
summer_69([1, 3, 5])

9

In [138]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [139]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [79]:
def spy_game(nums):
    combo = []
    
    for index, num in enumerate(nums):
        if num == 0 and len(combo) < 2:
            combo.append(num)
        elif num == 7 and len(combo) == 2:
            return True
    else:
        return False

In [140]:
# Solution

def spy_game(nums):
    code = [0,0,7,'x']
    
    for index, num in enumerate(nums):
        if num == code[0]:
            code.pop(0)
    
    return len(code) == 1

In [141]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [142]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [143]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [104]:
def count_primes(numbers):
    count = 0
    primeFlag = False
    
    for num in range(2,numbers):
        if num % 1 == 0 and num % num == 0: 
            primeFlag = True
            for i in range(2,num):
                if num % i == 0:
                    primeFlag = False
                    break
            else:
                count += 1
                primeFlag = False
        else:
            continue
    
    return count

In [149]:
# Solution

def count_primes(num):
    # Check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    
    primes = [2]
    # Counter going up to input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        for y in range(3, x, 2):
            if x%y == 0:
                x += 2
                break
        else: 
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [150]:
# Check
count_primes(200)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

46

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!