# 1. Branch Statements

Three keywords:
 * if
 * elif
 * else

In [2]:
if True:
    print("ITS TRUE")

ITS TRUE

In [14]:
hungry = True
# hungry = False
food = "steak"

if hungry:
    print(f'FEED ME {food}')
else:
    print("I'M GOOD!")

FEED ME steak

In [16]:
loc = 'BANK'

if loc == 'AUTO SHOP':
    print('Cars are cool!')
elif loc == "BANK":
    print("Money is cool!")
elif loc == "STORE":
    print('Welcome to the store!')
else:
    print("I do not know much")

Money is cool!

# 2. For Loops

In [19]:
languages = ["python", "javascript", "GO"]

for langauge in languages:
    print(langauge)

python
javascript
GO

In [21]:
languages = ["python", "javascript", "GO"]

for langauge in languages:
    print(langauge)
else:
    print("Loop Ended") # Called when loop is done iterating

python
javascript
GO
Loop Ended

In [25]:
numbers = range(10, 20)

for i in numbers:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [24]:
string = "Python"

for char in string:
    print(char)

P
y
t
h
o
n

In [60]:
numbers = range(10)

In [61]:
# With branch statements
for i in numbers:
    if (i % 2 == 0):
        print(f"{i} is even!")
    else:
        print(f"{i} is odd!")
else:
    print("Done iterating")

0 is even!
1 is odd!
2 is even!
3 is odd!
4 is even!
5 is odd!
6 is even!
7 is odd!
8 is even!
9 is odd!
Done iterating

In [62]:
# Iterate over a set
my_set = set()
my_set.add(1)
my_set.add(2)
for i in my_set:
    print(i)

1
2

In [63]:
# Iterate over tuple
tup = (1,2,3,4,5,6,6)
for t in tup:
    print(t)

1
2
3
4
5
6
6

In [76]:
# Iterate over dictionary
dict = { 'k1': 1, 'k2': 2, 'k3': 3}
for key, value in dict.items():
    print(f"key: {key}, value: {value}")

key: k1, value: 1
key: k2, value: 2
key: k3, value: 3

In [77]:
for value in dict.values():
    print(value)

1
2
3

In [78]:
for key in dict.keys():
    print(key)

k1
k2
k3

In [65]:
list_sum = 0

for num in numbers:
    list_sum += num
    
list_sum

45

In [66]:
tup_list = [(1,2), (3,4), (5,6), (7,8)]
len(tup_list)

4

In [71]:
for a,b in tup_list:
    print(f"{a}, {b}")

1, 2
3, 4
5, 6
7, 8

# 3. While Loops

In [82]:
x = 0

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else: # Code executes at the end of the while loop.
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

### break, continue, pass

* **break**: Breaks out of the current closest enclosing loop.
* **continue**: Goes to the top of the current closest enclosing loop.
* **pass**: Does nothing at all.

In [87]:
x = [1,2,3]

for item in x:
    print("Test")
    break

Test

In [90]:
my_string = 'Sammy'

for letter in my_string:
    if letter == 'a': continue
    if letter == 'y': break
    print(letter)

S
m
m

# 4. Useful Operators

### Range

In [92]:
mylist = list(range(10, 20))
mylist

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [95]:
# With Steps
mylist = list(range(10,20,2))
mylist

[10, 12, 14, 16, 18]

### Enumerate

In [96]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [100]:
word = 'abcde'

for index, letter in enumerate(word):
    print(f"index is {index}, letter is {letter}")

index is 0, letter is a
index is 1, letter is b
index is 2, letter is c
index is 3, letter is d
index is 4, letter is e

### Zip

Only zips as far as the shortest lists

In [104]:
list1 = [1,2,3]
list2 = ['a', 'b', 'c']
list3 = [100, 200, 300]

In [105]:
for item in zip(list1, list2, list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [106]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

### In

In [107]:
'x' in [1,2,3]

False

In [108]:
'x' in ['x', 'y', 'z']

True

In [109]:
'a' in 'some string Ayeee'

False

In [110]:
'k1' in {'k1': 123}

True

In [113]:
d = {'k1': 343}

343 in d.keys()

False

In [115]:
mylist = [10,20,30,40,50]

min(mylist)

10

In [117]:
max(mylist)

50

### Random Library / Importing

In [118]:
from random import shuffle

In [120]:
mylist = list(range(10))
shuffle(mylist)
mylist

[1, 5, 0, 6, 9, 4, 2, 3, 8, 7]

In [121]:
from random import randint

In [124]:
random_number = randint(0,100)
random_number

17

### User Input

In [127]:
result = input("Enter a number here") # Always returns a string

Enter a number here50

In [128]:
result

'50'

In [129]:
type(result)

str

In [130]:
float(result) # transform to float

50.0

In [132]:
int(result) # transform to int

50

# 5. List Comprehensions

In [134]:
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [136]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [138]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [139]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [143]:
mylist = [x**2 for x in range(0,11) if x % 2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [145]:
celcius = [0,10,20,34.5]

# Converts celcius to fahrenheit
fahrenheit = [((9/5)* temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [149]:
# Keep code and avoid sleek one liners that are hard to use even though possible

# Records only odd number
results = [x if x % 2 == 0 else "ODD" for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [151]:
mylist = []

for x in [2,4,6]:
    for y in [1, 10, 100]:
        mylist.append(x*y)

mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [153]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]